<div id="quote_wrapper">

	<div id="quote_tags">
		<% @quote.tag_list.each do |tag| %>
			<p> #<%= tag %> </p>
		<% end %>
	</div>

	<div class="transparentBox">
		<div id="quote_container_top">
		   <h1><%= @quote.description %></h1>
		</div>
	
		<div id="quote_container_bottom">
			<div id="author_avatar">
				<img src="https://lh5.googleusercontent.com/-TZEJ8uC5jmI/AAAAAAAAAAI/AAAAAAAAB-I/CYg0VkDy4IE/s48-c-k/photo.jpg">
			</div>
			<div id="author_name">
				<h3> <%= @quote.author_name %> </h3>
			</div>
		</div>
	</div>
</div>