<div id="main_container">
  <div id="main_container_left" class="assetBox">
    <%= @quote.tag_list %>
  </div>
  <div id="main_container_right">
    <div id="main_container_right_top">
      <h2><p>Pastrami Sandwich</p></h2>
      <h3></h3>
    </div>
    <div id="main_container_right_bottom">
    </div>
  </div>
</div>