/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

/* line 1, ../../app/assets/stylesheets/base.css.scss */
html {
  background: url("landing_bg.png");
}

/* line 5, ../../app/assets/stylesheets/base.css.scss */
body {
  margin: 0;
  padding: 0;
  font-family: bank_gothic;
  color: #809296;
  color: #839599;
  background: url("landing_bg_gradient.png") no-repeat center top;
  min-height: 800px;
  height: 100%;
}

/* line 14, ../../app/assets/stylesheets/base.css.scss */
p {
  text-align: center;
}

/* line 18, ../../app/assets/stylesheets/base.css.scss */
a {
  text-decoration: none;
  color: #4E6881;
}

/* line 23, ../../app/assets/stylesheets/base.css.scss */
a:hover {
  color: #7FAAD4;
}

/* line 27, ../../app/assets/stylesheets/base.css.scss */
.left {
  float: left;
}

/* line 30, ../../app/assets/stylesheets/base.css.scss */
.right {
  float: right;
}

/* line 34, ../../app/assets/stylesheets/base.css.scss */
.submit_button {
  background: none;
  border: none;
  font-family: bank_gothic;
  font-size: 26px;
  color: #4E6881;
  cursor: pointer;
}

/* line 43, ../../app/assets/stylesheets/base.css.scss */
.submit_button:mouseover {
  color: #fff;
}

@font-face {
  font-family: bank_gothic;
  src: url("bankgthd.ttf");
}
/* line 1, ../../app/assets/stylesheets/landing.css.scss */
.wrap {
  position: relative;
  z-index: 1;
  min-height: 100%;
}

/* line 7, ../../app/assets/stylesheets/landing.css.scss */
#content {
  overflow: auto;
  padding-bottom: 100px;
}

/* line 12, ../../app/assets/stylesheets/landing.css.scss */
#logo a {
  width: 237px;
  height: 97px;
  margin: 260px auto 0;
  display: block;
  text-indent: -9999px;
  background: url("landing_logo.png") center no-repeat scroll transparent;
}

/* line 21, ../../app/assets/stylesheets/landing.css.scss */
#logo p {
  margin-left: 180px;
  margin-top: -2px;
  font-size: 17px;
}

/* line 27, ../../app/assets/stylesheets/landing.css.scss */
.headline {
  font-size: 25px;
  margin: 100px auto -10px;
  color: #7FAAD4;
}

/* line 32, ../../app/assets/stylesheets/landing.css.scss */
.sub_headline {
  font-size: 19px;
  color: #4E6881;
}

/* line 37, ../../app/assets/stylesheets/landing.css.scss */
#beta_signup {
  margin: 80px auto 0;
  padding-left: 50px;
  width: 365px;
  height: 40px;
}

/* line 44, ../../app/assets/stylesheets/landing.css.scss */
#beta_signup_input {
  width: 300px;
  height: 38px;
  background-color: #03191C;
  font-family: bank_gothic;
  font-size: 14px;
  color: #839599;
  text-align: center;
  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 57, ../../app/assets/stylesheets/landing.css.scss */
#beta_signup .submit {
  margin-top: 3px;
  font-size: 28px;
  color: #4E6881;
}

/* line 63, ../../app/assets/stylesheets/landing.css.scss */
#notification {
  margin: 0 auto;
  height: 30px;
}

/* line 68, ../../app/assets/stylesheets/landing.css.scss */
.error_input {
  border-color: red;
  border: solid;
  border-size: 1px;
}

/* line 74, ../../app/assets/stylesheets/landing.css.scss */
.transform {
  transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  /* Internet Explorer */
  -moz-transform: rotate(-9deg);
  /* Firefox */
  -webkit-transform: rotate(-9deg);
  /* Safari and Chrome */
  -o-transform: rotate(-9deg);
  /* Opera */
}

/* line 82, ../../app/assets/stylesheets/landing.css.scss */
.left_arrow {
  width: 46px;
  height: 31px;
  text-indent: -9999px;
  background: url("arrow_left.png") center no-repeat scroll transparent;
}
