<div class="input-append">
<%= form_for :user_dream, :url => user_dreams_path do |f| %>
    <%= f.text_field :dream, :placeholder => "Share your thought", :class => "span5" %>
    <%= f.submit :class => "btn btn-info", :value => "Share It " %>
<% end %>
</div>