<% content_for :ready do %>
	var $userAssetsContainer = $('#user_assets_container');
	$userAssetsContainer.imagesLoaded(function(){
		$userAssetsContainer.masonry({
			itemSelector: '.assetBox',
			isAnimated: true,
			isFitWidth: true
		});
	});
<% end %>

<%= render :partial => 'shared/taglist', :locals => {:tags => @tags} %>

<div id="qutoes_index_container" class="span11">
	<% @quotes.each do |quote|%>
		<div class="assetBox shadow">
			<a href="<%= quote_path(quote) %>">
				<div class="assetBoxTopDiv">
					<blockquote><%= quote.description %></blockquote>
				</div>
			</a>
			<div class="assetBoxBottomDiv">
				<p>@<%= quote.author.name unless quote.author.nil? %></p>
			</div>
		</div>
	<% end %>
</div>