<% content_for :ready do %>
	$('.assetBox a').lightBox();
	
	var $userAssetsContainer = $('#user_assets_container');
	$userAssetsContainer.imagesLoaded(function(){
		$userAssetsContainer.masonry({
			itemSelector: '.assetBox',
			isAnimated: true,
			isFitWidth: true
		});
	});

    $('.assetBox').mouseover(function() {

    });
<% end %>


<div id="user_assets_container" class="center">
	<% @user_assets.each do |asset|%>
		<div class="assetBox">
			<a href="<%= asset.image.url(:pinterest_lg) %>">
				<%= image_tag asset.image.url(:pinterest)%>
			</a>
		</div>
	<% end %>

    <% @user_dreams.each do |dream| %>
      <div class="assetBox">
        <p><%= dream.dream %></p>
      </div>
    <% end %>
</div>