<% content_for :ready do %>
	$('.assetBox a').lightBox();
	
	var $userAssetsContainer = $('#user_assets_container');
	$userAssetsContainer.imagesLoaded(function(){
		$userAssetsContainer.masonry({
			itemSelector: '.assetBox',
			isAnimated: true,
			isFitWidth: true
		});
	});

    $('.assetBox').mouseover(function() {

    });
<% end %>


<div id="user_assets_container" class="center">
	<% @quotes.each do |quote|%>
		<a href="#">
			<div class="assetBox shadow">
				<div class="assetBoxTopDiv">
					<blockquote><%= quote.description %></blockquote>
				</div>
				<div class="assetBoxBottomDiv">
					<p><%= quote.author_name %>
				</div>
			</div>
		</a>
	<% end %>
</div>