<% content_for :ready do %>
	var $userAssetsContainer = $('#user_assets_container');
	$userAssetsContainer.imagesLoaded(function(){
		$userAssetsContainer.masonry({
			itemSelector: '.assetBox',
			isAnimated: true,
			isFitWidth: true
		});
	});
<% end %>


<div id="user_assets_container" class="center">
	<% @quotes.each do |quote|%>
		<div class="assetBox shadow">
			<a href="<%= quote_path(quote) %>">
				<div class="assetBoxTopDiv">
					<blockquote><%= quote.description %></blockquote>
				</div>
			</a>
			<div class="assetBoxBottomDiv">
				<p><%= quote.author.name %></p>
			</div>
		</div>
	<% end %>
</div>