<script>
	$(function(){
		var $userAssetsContainer = $('#user_assets_container');
		$userAssetsContainer.imagesLoaded(function(){
			$userAssetsContainer.masonry({
				itemSelector: '.assetBox',
				isAnimated: true,
				isFitWidth: true
			});
		});
	});
</script>


<div id="user_assets_container">
	<% @assets.each do |asset|%>
		<div class="assetBox">
			<%= image_tag asset.image.url(:pinterest)%>
		</div>
	<% end %>
</div>