
<script>
  $(function (){
  	
  });

</script>

<div id="profile_header">
  <div class="profileContent">
    <img class="profileImage" src="<%=current_user.user_profile.image_path %>">
    <div id="profile_info">
        <h1><%=current_user.user_profile.full_name%></h1>
        <p>//Enter your tagline</p>
    </div>
  </div>
</div>