/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#header {
	height: 45px;
	width: 100%;
	min-width: 786px;
	border-bottom: 1px solid;
}

.header_image {
	width: 28px;
	height: 28px;
	border: solid 1px #fff;
	
}

#content {
	margin: 65px auto;
	min-width: 262px;
	max-width: 786px;
	width: 65%;	
	height: 100%;
}

.clearfix {
	zoom: 1;
}

.brand {
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto !important;
  padding: 2px !important;
  img {
    height: 45px;
  }
}
