/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#header {
	height: 70px;
	width: 100%;
	min-width: 981px;
	border-bottom: 1px solid;
}

#pageHead {
	width: auto;
	margin: 0 35px;
}

#pageLogo {
	float: left;
	z-index: 5;
}

#headNav {
	margin-left: 180px;
}

.header_image {
	width: 45px;
	height: 45px;
}

#pageNav {
	list-style-type: none;
	height: 31px;
}

#pageNav li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
	border-right: 1px solid #809296;
}

#content {
	margin: 35px 35px;
}

.clearfix {
	zoom: 1;
}