html { 
/*	background-color: rgba(0,30,35,0.99);
	background-color: #001e23;
*/	
}

body{
    margin:0; padding:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#979797;
    //background: -webkit-radial-gradient(50% 50%,circle cover, #555, #2D2D2D 100%) fixed;
    //background: -moz-radial-gradient(50% 50%,circle cover, #555, #2D2D2D 100%) fixed;
    background: url("flying_bird_hd.jpg") no-repeat top center;
    -webkit-background-size: cover;
	min-height: 800px;
	height: 100%;
}

p {
	text-align: center;
}

a {
	text-decoration: none;
	color: #4E6881;
}

a:hover {
	color: #7FAAD4;
}

.left {
	float: left;
}
.right {
	float: right;
}
.center {
	margin: auto auto;
}

.submit_button {
	background: none;
	border: none;
	font-family: bank_gothic;
	font-size: 26px;
	color: #4E6881;
	cursor: pointer;
}

.button {
	display: block;
	padding: 10px;
	border: 1px;
	background: whiteSmoke;
	font-size: 15px;
	font-weight: bold;
	font-family: "Times New Roman";
	-webkit-border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	text-align: center;
	width: 90px;
	height: 38px;
	border-style: solid;
	border-color: #CCC;
	cursor: pointer;
}

.submit_button:mouseover {
	color: #fff;
}

@font-face {
	font-family: bank_gothic;
	src: url('bankgthd.ttf');
}