#user_assets_container {
	margin: auto auto;
}

.assetBox {
	width: 272px;
	height: 272px;
	margin: 7px;
	padding: 10px;
	background: #D8D5D2;
	line-height: 1.5em;
	float: left;
	/*-webkit-border-radius: 7px;*/
	/*-moz-border-radius: 7px;*/
	/*border-radius: 7px;*/
	font-family: "MuseoSlab",georgia,"dejavu serif",serif;
}

.assetBoxTopDiv {
	height: 200px;
    margin: 0 0;
	padding-top: 15px;
    color: #2D333A;
	border-bottom: 1px solid grey;
	font-size: 18px;
}

.assetBoxBottomDiv {
	width: inherit;
	height: 30px;
}

.shadow{
	box-shadow: 4px 4px 8px #818181;
	-webkit-box-shadow: 4px 4px 8px #818181;
	-moz-box-shadow: 4px 4px 8px #818181;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=4, offY=4, positive=true);
}

blockquote {
	font-size: 20px;
	line-height: 21px;
	background:transparent;
	border-left:1px solid #535353;
	margin:1.5em 10px;
	padding:.5em 10px;
	quotes:"\201C""\201D""\2018""\2019";
	content:open-quote;
}
blockquote p {
	 display:inline;
}