#user_assets_container {
	margin: auto auto;
}

.assetBox {
	width: 242px;
	height: 242px;
	margin: 7px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.47);
	line-height: 1.5em;
	float: left;
	/*-webkit-border-radius: 7px;*/
	/*-moz-border-radius: 7px;*/
	/*border-radius: 7px;*/
	font-family: "MuseoSlab",georgia,"dejavu serif",serif;
	a:hover {
		text-decoration: none;
	}
}

.assetBoxTopDiv {
	height: 190px;
    margin: 0 0;
	padding: 12px 15px 10px 5px;
    color: #C5C5C5;
	border-bottom: 1px solid grey;
	font-size: 20px;
    font-family: '"MuseoSlab",georgia,"dejavu serif",serif';
    blockquote {
      border-left: 3px solid grey;
      text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(54, 54, 54, 0.32);
    }
}

.assetBoxBottomDiv {
	width: inherit;
	height: 28px;
	padding: 5px;
	p {
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
        text-shadow: 0 3px 0 #161616, 0 0 30px rgba(0, 0, 0, 0.78);
		font-size: 19px;
		float: right;
        margin-right: 20px;
		color: #9C9C9C;
	}
}

.shadow{
	box-shadow: 4px 4px 8px #818181;
	-webkit-box-shadow: 4px 4px 8px #818181;
	-moz-box-shadow: 4px 4px 8px #818181;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=4, offY=4, positive=true);
}

blockquote {
	font-size: 20px;
	line-height: 25px;
	background:transparent;
	border-left:1px solid #535353;
	margin:1.5em 10px;
	padding:.5em 10px;
	quotes:"\201C""\201D""\2018""\2019";
}

.previousIcon {
  background-image: url("icons/prev.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  opacity: 0.15;
  filter: alpha(opacity=40);
  width: 50px;
  height: 50px;
  color: transparent;
  float: left;
  margin-top:250px;
  margin-left: -10px;
}

.previousIcon:hover {
  opacity: 0.4;
}

.nextIcon {
  background-image: url("icons/next.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  opacity: 0.15;
  filter: alpha(opacity=40);
  width: 50px;
  height: 50px;
  color: transparent;
  float: left;
  margin-top: 250px;
}

.nextIcon:hover {
  opacity: 0.4;
}

.form_well {
  width: 380px;
  height: 100%;
  margin: auto auto;
  border: 1px solid #383737;
  padding: 15px 15px 0px 15px;
  h2, h3 {
    padding-bottom: 15px;
  }
}