// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quote_wrapper {
  	width: 975px;
	height: 525px;
	margin: auto auto;
}

#quote_tags {
	height: 40px;
	color: #728510;
	padding: 20px 10px 10px 3px;
	text-shadow: 0 3px 0 black, 0 0 30px #090808;
	font-weight: 500;
	p {
		font-size: 32px;
		float: left;
		padding-right: 10px;
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
	}
}

#quote_container_left {
    float: left;
    width: 40px;
    height: inherit;
    padding: 0px 10px 0px 10px;
}

#quote_container_right {
  float: right;
  width: 40px;
  height: inherit;;
  padding: 0px 10px 0px 10px;
}

#quote_container_top {
	height: 375px;
	width: 855px;
    float: left;
	blockquote {
		font-size: 45px;
		line-height: 60px;
		padding: 20px;
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
		border-left: none;
	}
}

#quote_container_bottom {
	height: 150px;
    width: 855px;
    float: right;
	#author_name {
		height: 100px;
	}
	
	#social_share {
		height: 50px;
		width: inherit;
		float: left;
		margin-left: 30px;
	}
}

#author_name {
	float: right;
	margin-right: 120px;
	h1 {
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
		font-size: 32px;
		color: #5D6B83;
	}
}

.transparentBox {
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.32);
	margin-left: auto;
	margin-right: auto;
	color: #bbb;
}

