// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quote_wrapper {
	width: 975px;
	height: 555px;
	margin: auto auto;
}

#quote_tags {
	height: 40px;
	color: #242424;
	padding: 20px 10px 10px 3px;
	text-shadow: 0 3px 0 #A0A0A0, 0 0 30px #999;
	font-weight: 500;
	p {
		font-size: 32px;
		float: left;
		padding-right: 10px;
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
	}
}

#quote_container_left {
    float: left;
    width: 40px;
    height: inherit;
    padding: 0px 10px 0px 10px;
}

#quote_container_right {
  float: right;
  width: 40px;
  height: inherit;;
  padding: 0px 10px 0px 10px;
}

#quote_container_top {
	height: 480px;
	width: 855px;
    float: left;
	blockquote {
		font-size: 45px;
		line-height: 60px;
		padding: 20px;
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
        text-shadow: 0 3px 0 black, 0 0 30px rgba(54, 54, 54, 0.32);
		border-left: none;
	}
}

#quote_container_bottom {
	height: 75px;
    width: 855px;
    float: right;
    padding-top: 15px;
}

#social_share {
  width: 370px;
  height: 50px;
  float: left;
  padding: 15px 20px 0px 20px;
}

#author_name {
	width: 310px;
    float: left;
    padding-right: 15px;
    h1 {
		font-family: "MuseoSlab",georgia,"dejavu serif",serif;
        text-shadow: 0 3px 0 black, 0 0 30px black;
		font-size: 25px;
		color: #929292;
        float: right;
	}
}

.transparentBox {
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.65);
	margin-left: auto;
	margin-right: auto;
	color: #A0A0A0;
}

#author_pic_thumb_container {
  background: #979797;
  -webkit-border-radius: 1px;
  display: block;
  padding-bottom: 2px;
  float: left;
  margin-top: -10px;
}

#author_pic_thumb {
  background-color: white;
  border: 1px solid #979797;
  -webkit-border-radius: 3px;
  height: 110px;
  width: 110px;

  img {
    -webkit-border-radius: 1px;
  }
}
