#profile_header {
    font-size: 13px;
    color: #534F4F;
    margin: auto auto;
    width: 585px;
    height: 170px;
}

.profileHeaderContainer {
    padding: 3px;
    background: white;
    box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
    height: 100%;
}

#profile_content {
	width: 578px;
	margin-right: 30px;
}

#profile_info {
    margin: 5px 0 0 178px;
}

#profile_info p {
    text-align: left;
    margin: 5px;
}

.profileImage {
    height: 150px;
    float: left;
    max-width: 160px;
    overflow: hidden;
    margin: 8px;
}

#profile_nav {
	font-size: 13px;
	width: 115px;
	height: 170px;
	margin: auto auto;
}

#create_profile_content {
    width: 380px;
    height: 100%;
    margin: auto auto;
    border: 1px solid #414040;
    padding: 15px 15px 0px 15px;
}



